<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div class="form-group remember-me">
      <input
        type="checkbox"
        id="rememberMe"
        [(ngModel)]="rememberMe"
        name="rememberMe"
      />
      <label for="rememberMe">Remember Me</label>
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>

    <div class="spinner" *ngIf="loading"></div>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
