.navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.navbar-colored {
  background-color: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.transition-navbar {
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-link.active {
  font-weight: bold;
  color: #ffc107 !important;
  
}

.nav-hover:hover {
  color: #ffc107 !important;
  transition: color 0.3s ease;
}
.nav-link {
  cursor: pointer;
  /* transition: font-weight 0.2s ease; */
}

.nav-link:hover {
  /* font-weight: bold; */
}

.navbar-brand{
  cursor: pointer;
}



.logout-link:hover {
  color: #dc3545 !important; /* Bootstrap danger red */
}

.logout-link {
  cursor: pointer;
}
