/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


body {
  font-family: 'Inter', sans-serif;
 
}

html {
  scroll-behavior: smooth;
}

.with-navbar-padding {
  padding-top: 55px; /* Adjust to match your navbar height */
}


section {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}



/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */
.roboto-simple {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* // <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name */
.open-sans-simple {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}