<footer class="footer bg-black text-white">

  <!-- Widgets -->
  <div class="container pb-1 pt-1 border-top border-secondary">
    <div class="row gy-4 align-items-center">
      
      <!-- Logo -->
      <div class="col-sm-6 col-xl-3 text-center text-sm-start">
        <a
      class="navbar-brand d-flex align-items-center gap-2"
      href="/"
      
    >
      <span class=" trade-winds-regular">Rental Cars</span>
      <img
        src="assets/images/logo-white.png"
        alt="Car Rental Logo"
        width="60"
        height="20"
      />
    </a>
      </div>

      <!-- Navigation Links -->
      <div class="col-xl-6">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link text-white-50 px-3" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link text-white-50 px-3" href="/contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link text-white-50 px-3" href="#">Advertise</a></li>
          <li class="nav-item"><a class="nav-link text-white-50 px-3" href="#">Terms</a></li>
          <li class="nav-item"><a class="nav-link text-white-50 px-3" href="#">Privacy</a></li>
        </ul>
      </div>

      <!-- Social Icons -->
      <div class="col-sm-6 col-xl-3 text-center text-sm-end">
        <ul class="list-unstyled d-flex justify-content-center justify-content-sm-end mb-0">
          <li class="ms-3"><a class="text-white-50" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
          <li class="ms-3"><a class="text-white-50" href="#"><i class="bi bi-youtube fs-4"></i></a></li>
          <li class="ms-3"><a class="text-white-50" href="#"><i class="bi bi-twitter fs-4"></i></a></li>
          <li class="ms-3"><a class="text-white-50" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="bg-black text-white-50 py-3 border-top border-secondary">
    <div class="container text-center">
      <div>© 2025. All Rights Reserved.</div>
      <div class="small mt-1">
        Built by <a href="#" class="text-white text-decoration-none">Car Rental</a> with <span class="text-danger">♥</span>
      </div>
    </div>
  </div>

</footer>
