<section
  class="signup-section position-relative text-white min-vh-100"
  style="
    background-image: url('assets/images/car4.webp');
    background-size: cover;
    background-position: center;
  "
>
  <!-- Dark Overlay -->
  <div
    class="overlay position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.6); z-index: 1"
  ></div>

  <!-- Signup Form Container -->
  <div class="container position-relative py-5" style="z-index: 2">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div
          class="card bg-dark bg-opacity-75 text-white shadow-lg border-0 rounded"
        >
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center mb-4">
              <!-- <img
                src="assets/images/logoLight.png"
                alt="Logo"
                width="175"
                height="57"
              /> -->
              <h4 class="text-center mb-4 trade-winds-regular">
                Your Road Starts Here
              </h4>
            </div>

            <!-- Heading -->
            <h4 class="text-center mb-4 trade-winds-text">Join the Crew</h4>

            <!-- Signup Form -->
            <form (ngSubmit)="register()" #signupForm="ngForm" novalidate>
              <!-- Username -->
              <div class="form-floating mb-4">
                <input
                  type="text"
                  id="username"
                  name="username"
                  [(ngModel)]="user.username"
                  style="
                    height: 3.2rem;
                    font-size: 1rem;
                    line-height: normal;
                    padding-top: 0.5rem;
                  "
                  class="form-control bg-transparent text-white border-light"
                  placeholder=" "
                  required
                  (focus)="isUsernameFocused = true"
                  (blur)="isUsernameFocused = false"
                />
                <label
                  *ngIf="!isUsernameFocused && !user.username"
                  for="username"
                  class="text-white"
                  >Username</label
                >
              </div>
              <div class="form-floating mb-4">
                <input
                  type="email"
                  id="email"
                  name="email"
                  [(ngModel)]="user.email"
                  style="
                    height: 3.2rem;
                    font-size: 1rem;
                    line-height: normal;
                    padding-top: 0.5rem;
                  "
                  class="form-control bg-transparent text-white border-light"
                  placeholder=" "
                  required
                  (focus)="isEmailFocused = true"
                  (blur)="isEmailFocused = false"
                />
                <label
                  *ngIf="!isEmailFocused && !user.email"
                  for="email"
                  class="text-white"
                  >Email</label
                >
              </div>

              <!-- Password -->
              <div class="form-floating mb-4 position-relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  name="password"
                  [(ngModel)]="user.password"
                  style="
                    height: 3.2rem;
                    font-size: 1rem;
                    line-height: normal;
                    padding-top: 0.5rem;
                  "
                  class="form-control bg-transparent text-white border-light"
                  placeholder=" "
                  required
                  (focus)="isPasswordFocused = true"
                  (blur)="isPasswordFocused = false"
                />
                <label
                  *ngIf="!isPasswordFocused && !user.password"
                  for="password"
                  class="text-white"
                  >Password</label
                >
                <button
                  type="button"
                  class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 text-white"
                  (click)="togglePasswordVisibility()"
                  tabindex="-1"
                >
                  <i
                    class="bi"
                    [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                  ></i>
                </button>
              </div>

              <!-- Confirm Password -->
              <div class="form-floating mb-4 position-relative">
                <input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  id="confirmPassword"
                  name="confirmPassword"
                  [(ngModel)]="confirmPassword"
                  style="
                    height: 3.2rem;
                    font-size: 1rem;
                    line-height: normal;
                    padding-top: 0.5rem;
                  "
                  class="form-control bg-transparent text-white border-light"
                  placeholder=" "
                  required
                  (focus)="isConfirmPasswordFocused = true"
                  (blur)="isConfirmPasswordFocused = false"
                />
                <label
                  *ngIf="!isConfirmPasswordFocused && !confirmPassword"
                  for="confirmPassword"
                  class="text-white"
                  >Confirm Password</label
                >
                <button
                  type="button"
                  class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 text-white"
                  (click)="toggleConfirmPasswordVisibility()"
                  tabindex="-1"
                >
                  <i
                    class="bi"
                    [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
                  ></i>
                </button>
              </div>

              <!-- Password Mismatch Message -->
              <div
                *ngIf="
                  user.password &&
                  confirmPassword &&
                  user.password !== confirmPassword
                "
                class="text-danger mb-3"
              >
                Passwords do not match.
              </div>

              <!-- Terms Checkbox -->
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="iAgree"
                  [(ngModel)]="agreed"
                  name="iAgree"
                  required
                />
                <label class="form-check-label text-white" for="iAgree">
                  I agree to the
                  <a href="#" class="text-info text-decoration-none"
                    >terms and conditions</a
                  >
                </label>
              </div>

              <!-- Submit Button -->
              <div class="d-grid">
                <button
                  class="btn btn-outline-light btn-lg roboto-bold"
                  type="submit"
                  [disabled]="
                    loading ||
                    !agreed ||
                    user.password !== confirmPassword ||
                    !signupForm.form.valid
                  "
                >
                  {{ loading ? "Signing up..." : "Sign Up" }}
                </button>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>
            </form>

            <!-- Redirect Link -->
            <div class="d-flex justify-content-center gap-4 mt-4 pb-3">
              <a href="/login" class="link-light text-decoration-none">
                Already have an account?
              </a>
            </div>
            <!-- Google Signup Button -->
            <!-- <div
              id="google-signin-wrapper"
              class="google-button-wrapper d-flex justify-content-center mt-3"
            > -->
              <div id="google-signin-button"></div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
