<!-- Call To Action 1 - Bootstrap Brain Component -->
<section class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('assets/images/hero.webp');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <!-- <h2 class="fs-5 mb-3 text-white text-uppercase">Our Services & Expertise</h2>
        <h2 class="display-5 text-white mb-4">We are a design agency studio delivering custom creative & unique websites.</h2>
        <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap">Join Us</a> -->
        <h2 class="display-4 text-white fw-bold mb-3">Drive Your Dream Car Today</h2>
        <p class="lead text-white mb-4">
          Discover affordable, reliable, and stylish car rentals at your fingertips. Whether it’s a weekend getaway or a business trip, we’ve got the perfect ride for you.
        </p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn bsb-btn-2xl btn-outline-light" (click)="goToCarList()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>