<!-- Default for USER or no role -->
<section *ngIf="userRole === 'ROLE_USER' || !userRole" class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('assets/images/hero.webp');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="display-4 text-white fw-bold mb-3 roboto-simple">Drive Your Dream Car Today</h2>
        <p class="lead text-white mb-4">
          Discover affordable, reliable, and stylish car rentals at your fingertips. Whether it’s a weekend getaway or a business trip, we’ve got the perfect ride for you.
        </p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn bsb-btn-2xl btn-outline-light" (click)="goToCarList()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Admin View -->
<section *ngIf="userRole === 'ROLE_ADMIN'" class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('assets/images/car8.webp');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="display-4 text-white fw-bold mb-3 roboto-simple">Admin Dashboard</h2>
        <p class="lead text-white mb-4">
          Manage bookings, monitor fleet performance, and oversee user activity with powerful tools at your fingertips.
        </p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn bsb-btn-2xl btn-outline-light roboto-simple" (click)="goToAdminPanel()">Put a Car on the Road</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Super Admin View -->
<section *ngIf="userRole === 'ROLE_SUPER'" class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('assets/images/super-bg.webp');">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="display-4 text-white fw-bold mb-3">Super Admin Control</h2>
        <p class="lead text-white mb-4">
          Full access to system configurations, user management, and analytics. Maintain control over the entire platform.
        </p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn bsb-btn-2xl btn-outline-light" (click)="goToSuperAdmin()">System Settings</button>
        </div>
      </div>
    </div>
  </div>
</section>
