<ng-container *ngIf="cars.length > 0; else noCars">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let car of cars">
      <ng-template carouselSlide>
        <div class="car-wrap rounded">
          <div class="img rounded d-flex align-items-end" [ngStyle]="{'background-image': 'url(' + car.imageUrl + ')'}"></div>
          <div class="text">
            <h2 class="mb-0"><a href="#">{{ car.brand }}</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">{{ car.brand }}</span>
              <p class="price ms-auto">\${{ car.pricePerDay }} <span>/day</span></p>
            </div>
            <p class="d-flex mb-0 d-block">
              <a href="#" class="btn btn-primary py-2 me-1">Book now</a>
              <a href="#" class="btn btn-secondary py-2 ms-1">Details</a>
            </p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-container>

<ng-template #noCars>
  <div class="text-center py-5">
    <h4>No cars available at the moment.</h4>
  </div>
</ng-template>
